html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

html {
    font-size: 125%;
    font-family: 'Italiana', serif;
    color: #fff;

}

.wrapper {
    max-width: 1500px;
    margin: auto 10%;
}

body{
    background: #14171f;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(assets/header-2.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav {
    margin: 0;
    margin-left: 5rem;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav ul li {
    margin-right: 2rem;
    margin-top: 1rem;
    font-family: 'Lato', sans-serif; 
    font-weight: light;
    font-size: 1rem;    
}

nav ul li a {
    color: #faba63;
    text-decoration: none;
}

.social{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
}

.social, a {
    text-decoration: none;
    color: white;
    margin: 0.5rem;
}

/* .mobile {
    font-size: 1.4rem;
    position: absolute;
    top: 0;
    right: 0;
} */

.mobile a:hover, .mobile a:focus {
    color: #fff;
}


.logo {
    margin-left: 9rem;
    padding: 6.25rem .75rem .25rem;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

span {
    margin-left: 12rem;
    display: block;
}

h1 { 
    margin: 0;
    font-size: 8.25rem;
    text-transform: uppercase;
}

h2  {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.5rem;
    margin: 0;
}

h3 {
    font-family: 'Lato', sans-serif; 
    font-size: 2.25rem;
    color: #faba63;
    font-weight: 300;
    margin-left: 13rem;
    margin-top: -1rem;

}

h5{
    font-size: 1.25rem;
    font-family: 'Italiana', serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}
h6{
    font-size: 1rem;
    font-family: 'Lato', sans-serif; 
    font-weight: 100;
    margin: 0;
    margin-bottom: .75rem;
}

.hand {
    display: flex;
    height: 60vh;
justify-content: space-evenly;
align-items: center;

}

.handImg{
    width: 135%;    
}

.match, .materials{
    background-color: #201e21;
    display: flex;
    /* flex-direction: column-reverse; */
}

.matchSub, .materialsSub, .handSub {
    display: flex;
    flex-direction: column;
    align-items: baseline;
} 

.handSub{
    margin: 2rem;
}

.sustainImg, .matchImg{
    width: 230%;

}
button {
   background-color:rgba(255, 255, 255, 0); 
   color: #fff;
   border: 1px solid #faba63;
   font-family: 'Italiana', serif;
   text-transform: uppercase;
   margin-top: 1.5rem;
   padding: 10px;
}

p {
    font-family: 'Lato', sans-serif; 
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.5rem;
    margin: 0;
    
}

legend {
    font-family: 'Lato', sans-serif; 
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 30px;
    
}

footer {
    background-color: black;
    text-align: center;
    margin-top: 10px;

}

.latest {
    border-top: none;
    background-color: #201e21;
    height: 100vh;
}

  

.latest h2 {
	padding: 4rem;
	text-align: center;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
    margin: 0;
}

.cards img {
    width: 24%;
    margin: auto 1rem;
}

.fa-solid, .fa-regular {
    color: #faba63;
   
}

.icons {
    font-family:'Italiana', serif;
    font-size: 1.5rem;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 30vh;
align-items: center;
    
}

.icons ul {
    margin-top: 15px;
    margin-right: 40px;
    margin-bottom: 15px; 
    list-style: none;  

}

.icons li:nth-child(even) {
    margin-top: 20px;
    
}



.closing {
    display: flex;
    height: 50vh;
    justify-content: space-between;
}

.closing1, .closing2, .closing3, form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.closing1 ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-transform: uppercase;
    line-height: 1.5rem;
}

.closing2 {
    align-items: center;
}
.closing3 {
    align-items: flex-end;
}


.address h2 {
    margin-bottom: 10px;
}

.address p {
    text-align: center;
    font-size: 1rem; 
}

.suscribeBtn {
    width: 50%;
    border: none;
    background-color: black;
    margin: 0;
}

input {
    line-height: 1.85rem;
    width: 100%;
}
form {
	display: flex;
	align-items: center;
	flex-direction: row;
    width: 140%;
}
